<div class="wrapper">
  <div class="login-form">
    <flash-messages class="message"></flash-messages>
    <h2>Login</h2>
    <form #f='ngForm' (ngSubmit)='onLoginSubmit(f.value)' name="form">
      <div class="form-group">
        <label for="username">Gebruikersnaam</label>
        <input type="text" class="form-control" name="username" required [(ngModel)]="user.username" #username="ngModel"/>
      </div>
      <div class="form-group">
        <label for="password">Wachtwoord</label>
        <input type="password" class="form-control" name="password" required [(ngModel)]="user.password" #password="ngModel"/>
      </div>
      <div class="form-group">
        <button class="btnLogin btn btn-primary">Login</button>
        <a (click)="registerBtnClick()" class=".Register btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>
