.wrapper {
  font-family: 'Open Sans', sans-serif;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-form {
    max-width: 600px;
    margin-top: -70px;
    width: 100%;
    h2 {
      margin-bottom: 10px;
    }
    .btnLogin {
      background: rgb(0, 172, 237);
      border-color: rgb(0, 172, 237);
      &:hover {
        background: rgb(0, 132, 180);
        border-color: rgb(0, 132, 180);
      }
    }
    .register {
      color: rgb(0, 132, 180);
    }
  }
}
