@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#content {
  min-height: 525px;
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


.row {
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33333%;
  }
}

h4,
.h4 {
  font-size: 2.5rem;
  line-height: 2;
  margin-bottom: .75rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #373a3c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}