.ng-valid[required] {
  border: 1px solid #42A948 !important;
}

.ng-invalid[required] {
  border: 1px solid #ff0000 !important;
}


.wrapper {
  font-family: 'Open Sans', sans-serif;
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
    max-width: 1000px;
    position: relative; //border: 1px black solid;
  }
  .todo-list {
    width: 100%;
    margin-bottom: 50px;
    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .todo {
      display: flex;
      justify-content: space-between;
      min-height: 52px;
      margin: 20px 0;
      width: 100%;
      .todo-details {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        background-color: black;
        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        p {
          text-decoration: none;
          color: white;
          font-size: 18px;
          &:first-of-type {
            margin-left: 20px;
            margin-right: 10px;
          }
          &:last-of-type {
            margin-right: 20px;
            margin-left: 10px;
          }
        }
      }
      .todo-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        .todoButton {
          margin-top: 0px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            height: 50px;
            width: 50px;
          }
          &.first {
            margin-right: 10px;
            margin-left: 10px;
          }
        }
      }
    }
    .noActiveTodos {
      p {
        text-align: center;
        vertical-align: center;
      }
    }
  }
  .action-buttons {
    position: absolute;
    bottom: 10px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    .todo {
      flex-direction: column;
      margin-bottom: 30px !important;
      .todo-buttons {
        justify-content: space-between !important;
        .todoButton {
          margin-left: 0 !important;
          width: 49%;
          button {
            width: 100% !important;
          }
        }
      }
      .todo-details {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        p {
          text-align: center;
          &:first-of-type {
            margin-left: 10px !important;
          }
          &:last-of-type {
            margin-right: 10px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .action-buttons {
    display: flex;
    flex-direction: column;
    button:first-of-type {
      margin-bottom: 10px;
    }
  }
}
