.ng-valid[required] {
  border: 1px solid #42A948 !important;
}

.wrapper {
  font-family: 'Open Sans', sans-serif;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
    position: relative;
  }
  .todo-list {
    width: 100%;
    margin-bottom: 50px;
    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .todo {
      display: flex;
      justify-content: space-between;
      min-height: 52px;
      margin: 30px 0;
      width: 100%;
      .todo-details {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        background-color: black;
        p {
          text-decoration: none;
          color: white;
          font-size: 18px;
          &:first-of-type {
            margin-left: 20px;
          }
          &:last-of-type {
            margin-right: 20px;
          }
        }
      }
      .todo-buttons {
        display: flex;
        .todoButton {
          margin-top: 0px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            height: 50px;
          }
          &.first {
            margin-right: 10px;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .buttonBottom {
    position: relative;
    bottom: 10px;
  }
}

@media (max-width: 850px) {
  .todo {
    flex-direction: column;
    margin-bottom: 40px;
    .todo-buttons {
      justify-content: space-between;
      .todoButton {
        margin-left: 0 !important;
      }
    }
    .todo-details {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      p {
        text-align: center;
        &:first-of-type {
            margin-left: 10px !important;
            margin-right: 10px;
          }
          &:last-of-type {
            margin-right: 10px !important;
            margin-left: 10px;
          }
      }
    }
  }
}

