<div class="wrapper container">
  <div class="register-form">
    <flash-messages class="message"></flash-messages>
    <h2>Registreren</h2>
    <form #f="ngForm" (ngSubmit)='onRegisterSubmit(f.value, f.valid)' name="form">
      <div class="form-group">
        <label for="firstName">Voornaam</label>
        <input type="text" class="form-control" name="firstname" required [(ngModel)]="user.firstname" #firstname="ngModel" />
      </div>
      <div class="form-group">
        <label for="lastname">Achternaam</label>
        <input type="text" class="form-control" name="lastname" required [(ngModel)]="user.lastname" #lastname="ngModel" />
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" name="email" required [(ngModel)]="user.email" #email="ngModel" />
      </div>
      <div class="form-group">
        <label for="username">Gebruikersnaam</label>
        <input type="text" class="form-control" name="username" required [(ngModel)]="user.username" #username="ngModel" />
      </div>
      <div class="form-group">
        <label for="password">Wachtwoord</label>
        <input type="password" class="form-control" name="password" required [(ngModel)]="user.password" #password="ngModel" />
      </div>
      <div class="form-group">
        <label for="passwordCheck">Herhaal Wachtwoord</label>
        <input type="password" class="form-control" name="passwordCheck" required [(ngModel)]="passwordCheck"/>
      </div>
      <div class="form-group">
        <button class="btnRegister btn btn-primary">Registreren</button>
        <a (click)="cancelBtnClick()" class="cancel btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
