<div class="wrapper">
  <div class="login-form">
    <h2>Login</h2>
    <form name="form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" required />
        <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div> -->
      </div>
      <div class="form-group">
        <label for="password">Paswoord</label>
        <input type="password" class="form-control" name="password" required />
        <!-- <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div> -->
      </div>
      <div class="form-group">
        <button class="btnLogin btn btn-primary">Login</button>
        <a (click)="registerBtnClick()" class=".Register btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>
